<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg" href="/assets/favicon.svg" />
  </head>
  <body>
    <div class="wrapper">

      <section>
        <div id="title">
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <div>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            {%- include social.html -%}
          </div>
        </div>
        <hr>

        {{ content }}
      </section>

      {%- include footer.html -%}

    </div>

    
  </body>
</html>
